body {
    margin: 0;
    background: linear-gradient(225deg, black 50%, white);
}

li {
    list-style-type: none;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.header-logo {
    padding: 0;
    margin: 0;
    font-size: 150%;
}

.header-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    right: 0px;
    width: 70%;
    gap: 2%;
    font-weight: 300;  
    font-size: 105%;
}

.portion-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(
        315deg,
        black,
        #df0b24,
        95%,
        white
    );
    color: white;
    padding: 1% 20%;
    height: auto;
    gap: 3vh;
    align-items: center;
}

.portion-one-part-two {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    white-space: normal;
    gap: 5px;
}

.portion-one-main-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    text-align: left;
    gap: 1rem;
}

.placeholder-image {
    height: auto;
    width: 40%;
    min-width: 300px;
}

.awesome-text {
    font-size: 300%;
    font-weight: bolder;
    margin: 0;
}

.mini-text {
    font-size: 110%;
    font-weight: 500;
}

.foot-note {
    font-size: 50%;
    font-style: italic;
}

.sign-up-button {
    background-color: #F68323;
    border: none;
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.portion-two {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 0px;
    gap: 20px;
    background: linear-gradient(black, white);
    color: white;
}

.portion-two-part-two {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
}

.portion-two-boxes {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 300px;
    color: black;
    cursor: pointer;
}

.portion-two-images {
    background-color: #3882F6;
    height: auto;
    align-items: center;
}

.portion-two-boxes:hover {
    transform:scale(130%);
}

.portion-two-texts {
    display: flex;
    flex-wrap: wrap;
}

.portion-three {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(
        315deg,
        black,
        #F68323,
        97%,
        white);
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px #C61F32;
}

.p1 {
    font-size: 240%;
    font-style: italic;
    width: 85%;
    padding: 20px;
}

.portion-four {
    display: flex;
    background-color: #C61F32;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    margin: 5% auto;
    padding: 20px 35px;
    border-radius: 5px;
    color: white;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 20px gold;
}

.portion-four:hover {
    transform: scale(1.05);
}


.sign-up-button-2 {
    border: 2px solid white;
    background-color: #F68323;
}

.portion-five {
    background-color: #C61F32;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-decoration: none;
    font-size: 80%;
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 965px) {
    .p1{
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px){
    .awesome-text{
        font-size: 24px;
    }
    .mini-text{
        font-size: 15px;
    }
    .foot-note{
        font-size: 8px;
    }
    .portion-one-part-two{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .portion-one-main-text{
        gap: 10px;
    }
    .portion-one{
        padding: 1% 10%;
        gap: 20px;
    }
    .header-links{
        flex-direction: column;
        padding-right: 0px;
        font-size: 85%;
    }
    .portion-four{
        border-radius: 0px;
        padding: 10px 0px;
        width: 100%;
    }
    .action{
        margin: 10px 0px 0px 0px;
    }
}